html{
    font-size: 15px;
    font-family: 'Metal Mania', cursive;
    background-color: chocolate;
    margin: auto auto;
    padding: 20px 20px 20px 20px;
}

p {
    color: red;
    width: 500px;
    border: 1px solid black;
    /* As a general rule text appears red and has a black box */
}

strong {
    color: royalblue;
    /* All bolded text appears in blue*/
}

#Unique-ID {
    color: aquamarine;
    /* Special case chang of colour */

}

a:hover {
    color: chartreuse;
    border: 5px solid black;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin:  0;
    padding:  20px 0;
    color: blanchedalmond;
    text-shadow: 3px 3px 1px black;
}

body {
    width:  600px;
    margin: auto auto;
    padding: 20px 20px 20px 20px;
    border:  5px solid black;
}
img {
    display: block;
    margin: 0 auto;
}